# --- Node/依赖包 ---
node_modules/
.npm
package-lock.json.backup
yarn.lock.backup
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- 构建产物 ---
dist/
dist-electron/
release/
*.tsbuildinfo

# --- 环境变量 (非常重要) ---
.env
.env.local
.env.*.local

# --- 编辑器与系统文件 ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
